<h1>Login Page</h1>
<form method="post" action="/auth/login">
    <label>Username: <input type="text" name="username" value="{{body.username}}"></label> <!--username - идеята му
    е ако вкараме грешен потребител да запазва името във формата, без да го трие -->
    <label>Password: <input type="password" name="password"></label>
    <button>Login</button>
</form>